# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

# Environments
.env
.venv
env/
venv/

# macOS
.DS_Store
